h1 {
    color:brown;
    text-align: center;
}
h3 {
    color: crimson;
    text-decoration: underline;
}
body {
    background-color: cornsilk;
}
p {
    font-family: sans-serif;
}
footer { width:100%; background-color:#263238; min-height:150px;
}
